<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<form [ngFormModel]="form"  (submit)="addName()">
  <!-- <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true"></datepicker> -->
  <input [(ngModel)]="newName" placeholder="Awesome Computer Scientist">
  <input type="text" ngControl="name" placeholder="Awesome Computer Scientist">
  <!-- <input [(ngModel)]="newName" placeholder="Awesome Computer Scientist"> -->
  <!-- <input type="date" class="form-control" [datepicker-popup] [(ngModel)]="dt" [minDate]="minDate" [(isOpen)]="opened" placeholder="Awesome Computer Scientist"> -->
  <button type="submit">Add</button>
  <!-- <button type="button" class="btn btn-default"
                         (click)="open()"></button> -->
</form>


<ul>
  <li *ngFor="#name of nameListService.get()">{{name}}</li>
</ul>
